body{}

header{}

section{}

footer{}


h1{
    color: red;

}
h2{
    color: blue;

}

p{
    color: black;
}
#fttext{
    clear; both;
    color: red;
    text-align: center;
    font-style:italic;
}