*{
  box-sizing: border-box;
  background-color: yellowgreen;
}

body{
  margin: 0px;
  border-radius: 10px;
}
text{
  background-color: aquamarine;
  font-family: verdana;
  font-size: 12px;
  size="10"
  maxlength="30"

}